@using SearchEngine.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<main class="main-cont content mCustomScrollbar">
    <div class="page-wrap">
        <!--开始::内容-->
        <section class="page-hd">
            <header>
                <h2 class="title">图书管理</h2>
            </header>
            <hr>
        </section>
        <div>
            <form method="post" action="/Book/Index">
                <input type="text" name="search" placeholder="搜索条件..." class="form-control form-boxed" style="width:300px;">
                &nbsp;  <input type="submit" class="btn btn-primary" value="搜索" />
                <br />
            </form>
        </div>
        <div style="float:right">
            <a href="/Book/Create" class="btn btn-primary">添加图书</a>
        </div>
        <table class="table mb-15">
            <thead>
                <tr>
                    @*<th><input type="checkbox" /></th>*@
                    <th>序号</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>类别</th>
                    <th>出版社</th>
                    <th>出版日期</th>
                    <th>ISBN</th>
                    <th>字数</th>
                    <th>价格</th>
                    <th>点击量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    List<Books> mlist = (List<Books>)ViewData["List"];
                    for (int i = 0; i < mlist.Count; i++)
                    {
                        <tr class="cen">

                            <td>@Html.Raw(i + 1)</td>
                            <td>@mlist[i].Title</td>
                            <td>@mlist[i].Author</td>
                            <td>@mlist[i].Categories.Name</td>
                            <td>@mlist[i].Publishers.Name</td>
                            <td>@mlist[i].PublishDate.ToString("yyyy-MM-dd")</td>
                            <td>@mlist[i].ISBN</td>
                            <td>@mlist[i].WordsCount</td>
                            <td>@mlist[i].UnitPrice</td>
                            <td>@mlist[i].Clicks</td>
                            

                            <td>
                                <a href="/Book/Edit/@mlist[i].Id" title="修改">修改</a>
                                <a href="/Book/Delete/@mlist[i].Id" title="删除">删除</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <div>
            @Html.Raw(ViewData["PageBar"])
        </div>
        <!--开始::结束-->
    </div>
</main>
